<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
  <div class="formbold-main-wrapper">
    <form action="http://localhost/person" method="POST">
      <div class="formbold-form-title">
        <h2 class="">Register now</h2>
      </div>

      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label">
            First name
          </label>
          <input type="text" name="firstname" id="firstname" class="formbold-form-input" required maxlength="30"/>
        </div>
        <div>
          <label for="lastname" class="formbold-form-label"> Last name </label>
          <input type="text" name="lastname" id="lastname" class="formbold-form-input" required maxlength="65"/>
        </div>
      </div>

      <div class="formbold-input-flex">
        <div>
          <label for="email" class="formbold-form-label"> Email </label>
          <input type="email" name="email" id="email" class="formbold-form-input" required/>
        </div>
        <div>
          <label for="phone" class="formbold-form-label"> Phone number </label>
          <input type="text" name="phone" id="phone" class="formbold-form-input" required maxlength="20" minlength="8"/>
        </div>
      </div>
      <button class="formbold-btn">Register Now</button>
    </form>
  </div>
  </div>
</body>

</html>
