<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <div class="formbold-form-title">
        <h2 class="">Success!</h2>
        <p>
            <br>
            Your data has been posted successfully!
            <br>
        </p>
    </div>
    <div>
        <br>
        <a href="index.html" class="formbold-btn" style="margin: 10px;">Home</a>
    </div>
</body>
</html>